<h1><%= content %></h1>
<img src="../images/test.jpg" alt="TESTING">
<div id="imageTest"></div>
<img src="../images/test.png" alt="TESTING">
<div id="imageTestPng"></div>
<img src="../images/test.gif" alt="TESTING">
<div id="imageTestGif"></div>