body {
	background-color: red;
}

#imageTest {
	width: 225px;
    height: 225px;
	background-image: url('../images/test.jpg');
}

#imageTestPng {
	width: 225px;
    height: 225px;
	background-image: url('../images/test.png');
}

#imageTestGif {
	width: 225px;
    height: 225px;
	background-image: url('../images/test.gif');
}